@tailwind base;
@tailwind components;
@tailwind utilities;

.shared-button-styles {
  @apply rounded-md border p-2 hover:bg-gray-100 flex items-center justify-center;
}

.search-component {
  position: relative;
  width: 100%;
  z-index: 1000;
}

.search-results {
  position: absolute;
  top: 115%;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  /* border: 1px solid #ccc; */
}

.search-result {
  padding: 8px;
  border-bottom: 1px solid #eee;
  color: black;
  z-index: 1000;
}

.search-result:last-child {
  border-bottom: none;
  color: black;
}
